{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>NEW_REVIEW</h1>

<form method="POST" action="/review/">
    <input type="submit" value=" Send !">
</form>

{% endblock %}